.home-hero{
  max-width: 2000px;
  width: 100%;
  max-height: 90vh;
  height: 1000px;
  background-size: cover;
  background-position: center center;
  //background-attachment: fixed;
  margin: 0 auto;
}

@media(max-width: $main-breakpoint){
  .home-hero{
    height: 60vw;
  }
}