@mixin button-text{
  text-transform: uppercase;
  font-family: "Roboto Mono";
  font-weight: 700;
  letter-spacing: 2px;
}

.home-hero{
  max-width: 2000px;
  width: 100%;
  max-height: 90vh;
  height: 1000px;
  background-size: cover;
  background-position: center center;
  //background-attachment: fixed;
  margin: 0 auto;
}

.home-section{
  margin: 64px 0;
}

.home-blog-posts, .home-block{
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
}

.home-blog .article-item{
  border: 2px solid $s4f-tan;
  margin-bottom: 24px;
  transition: transform 0.2s ease;

  .article-text{
    padding: 24px;

    a{
      color: #000;

      &:hover{
        color: rgba(0,0,0,0.4);
      }
    }

    h3{
      font-family: 'Roboto Mono';
      margin: 0 0 32px 0;
    }

    .article-author{
      font-weight: 700;
    }

    .article-content, .article-categories{
      display: none;
    }
  }

  &:hover{
    transform: scale(1.05);
  }
}

.home-blog-more{
  text-align: right;
}

.home-blog-button{
  @include button-text;
  display: inline-block;
  padding: 16px;
  border: 2px solid #000;
  color: #000;

  &:hover{
    background-color: #000;
    color: #fff;
  }

}

.home-block{
  box-sizing: border-box;
  color: #fff;
  padding: 24px;
  line-height: 1.5;

  .wp-block-button{
    margin-top: 32px;
    text-align: right;
  }

  .wp-block-button__link{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    margin-left: auto;
    @include button-text;

    &:hover{
      background-color: #fff;
      color: #000;
    }
  }

  .wp-block-column p{
    margin: 0;
    line-height: 1.0;

    &:not(.has-custom-weight){
      opacity: 0.4;
    }
  }
}

div.home-section:first-of-type .home-block{
  background-color: $s4f-purple;
}

div.home-section:nth-of-type(2) .home-block{
  background-color: $s4f-medgreen;
}

.home-heading-topper{
  width: 64px;
  height: 4px;
  background-color: #000;
}

@media (min-width: $mobile-breakpoint){
  .home-block{
    padding: 36px;
    font-size: 36px;
  }

  .home-blog-posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
  }

  .home-blog-more{
    grid-column: 2;
  }
}

@media (min-width: 800px){
  .home-blog-posts{
    grid-template-columns: repeat(3, 1fr);
  }

  .home-blog-more{
    grid-column: 3;
  }
}

@media (min-width: $main-breakpoint){
  .home-section{
    display: flex;
  }

  h1{
    font-size: 56px;
    min-width: 240px;
    padding-right: 32px;
  }

  .home-section{
    margin: 128px auto;
  }
}

@media(max-width: $main-breakpoint){
  .home-hero{
    height: 60vw;
  }
}

@media (max-width: $mobile-breakpoint){
  .home-block{
    width: calc(100% + 48px);
    position: relative;
    left: -24px;
  }
}