.s4f-navbar{
  .sz-navbar-inner{
    @include container;
  }

  .sz-navbar-items{
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 16px;
  }

  .sz-navbar-item a{
    color: #000;

    &:hover{
      color: rgba(0,0,0,0.4);
    }
  }

  .navbar-logo{
    display: inline-flex;
    justify-content: center;
    height: $navbar-logo-height;

    img{
      height: $navbar-logo-height;
      margin-right: 24px;
    }

    a{
      font-weight: 700;
      color: #000;
      font-size: 28px;
    }
  }
}