.page-container, .wp-block-heading{
  h2{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 24px;
    margin-top: 64px;
  }
}

.page-container a{
  text-decoration: underline;
}

.page-numbers{
  @include p-2;
  @include font-mono;
}

a.page-numbers{
  @include bg-gray-3;
}